.content-wrap {
  height: 200px;
}

.trash {
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.ashcan-wrap {
  height: 200px;
}

.ashcan {
  display: inline-block;
  padding: 30px;
  border: 1px solid #000;
  user-select: none;
}