.content-wrap {
  width: 250px;
}

.trash {
  padding: 5px;
  margin-bottom: 15px;
  width: 200px;
  background: lightblue;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.ashcan-wrap {
  align-self: center;
}

.ashcan {
  display: inline-block;
  padding: 30px;
  border: 1px solid #000;
  user-select: none;
}